.homeSectionOneMainContainer, .homeImageContainer, .homePageContainer
{
    width: 100vw;
    height: 100vh;
}

.homePageContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeImageContainer
{
    overflow: hidden;
    object-fit:scale-down;
    position: absolute;
    z-index: -1;
}

.homeImageContainer > img
{
    width: auto;
    height: 100vh;
}

.homelogoContainer
{
    width: 50vw;
    height: auto;
}